<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChU8l5ar4XIC7j9AyG9WHjLFNBpjnGnqg</string>
	<key>GCM_SENDER_ID</key>
	<string>398299390303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-6v3cwv</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-6v3cwv.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398299390303:ios:ba20b4cc7bea6540a096ea</string>
</dict>
</plist>